@page "/"
@inject Services.Dolphin Dolphin

<div class="container">
    <h2>LED Control</h2>

    <div class="hook-section">
        <h5>@statusText</h5>
        <button id="button-connect"
                class="btn @ToggleButtonColor()"
                type="button"
                onclick="@OnButtonClickConnect"
                disabled="@buttonDisabled">
            <span class="spinner-border spinner-border-sm @ToggleSpinVisibility()"
                  role="status"
                  aria-hidden="true" />
            @buttonConnectText
        </button>
        <br />
    </div>
    <br />

    <div class="control-section">
        @foreach(var offset in offsets)
        {
            <EventDisplay
                offsetData="@offset"
                OnSelectEvent="@SelectEvent"
            />
        }
    </div>
    <br />
    <br />
</div>


@code {
    const string STATUS_NOT_HOOKED = "Currently not hooked to Dolphin";
    const string STATUS_RETRY = "Couldn't hook to Dolphin";
    const string STATUS_SUCCESS = "Hooked to Dolphin";

    const string BUTTON_TEXT_CONNECT = "Connect to Dolphin";
    const string BUTTON_TEXT_CONNECTING = "Connecting";
    const string BUTTON_TEXT_RETRY = "Try again";
    const string BUTTON_TEXT_DISCONNECT = "Disconnect";
}